<!doctype html>
  <html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/xterm.css' %}" />
      <script src="{% static 'lib/xterm.js' %}"></script>
      <script src="{% static 'lib/addon-attach.js' %}"></script>
    </head>
    <body>
      <div id="terminal"></div>
      <script>
        const webSocket = new WebSocket('ws://127.0.0.1:8079');
        const term = new Terminal({cursorBlink: true});
        const attachAddon = new AttachAddon.AttachAddon(webSocket);
        term.loadAddon(attachAddon);
        term.open(document.getElementById('terminal'));
        term.write('\x1B[0m');
      </script>
    </body>
  </html>
